<section class="form-register" *ngIf="(switchUseCase.switchLogIn)">
  <h4>Sign In</h4>
  <form>
    <img class="product-image large-image" [src]="imageUrls" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <div class="google-btn">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
      </div>
      <p class="btn-text" type="submit" (click)="onclickLogin()"><b> Login with Google</b></p>
      
    </div>
    <p class="btn-text" type="button" (click)="setEmail()"><b>No account?</b></p>
  </form>
</section>

<div class="content" *ngIf="(switchUseCase.switchPresentation)">
  <h1>Welcome!</h1>
  <p>Check your email and enter your code here,<br>thank you!</p>
  <form [formGroup]="tokenForm">
    <div>
      <input class="controls" formControlName="token" type="text" placeholder="Your code">
      <div *ngIf="tokenForm.invalid && tokenForm.touched">
        <small class="form-text text-white">
          {{ tokenForm.get('token')?.errors?.['required'] ? 'Token is required.' : '' }}
          {{ tokenForm.get('token')?.errors?.['minlength'] ? 'Token must be 9 characters.' : '' }}
          {{ tokenForm.get('token')?.errors?.['maxlength'] ? 'Token must be 9 characters.' : '' }}
        </small>
      </div>
    </div>
    <div>
      <button class="btn-home1" type="submit" (click)="onSendCode()">Start Test</button>
      <button class="btn-home2" type="submit" (click)="onSendCodeAgain()" [disabled]="isResendDisabled">{{resendButtonText}}</button>
    </div>
  </form>
</div>

<!--*ngIf="(switchUseCase.switchPresentation)"-->