


.quiz-container {
  background-color: rgba(255, 255, 255, 0.973);
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  color: rgb(31, 31, 31);
  border: none;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.quiz-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.quiz-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="radio"] {
  margin-bottom: 10px;
}

label {
  margin-left: 10px;
}

button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0062cc;
}


